[Desktop Entry]
Name=Converter Multi
Comment=A Unit and Currencies Converter. It is immediate, fast and easy to use!
Exec=convertermulti
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Utility;
Keywords=Education,Flutter;
StartupNotify=false
